var getColor = {

  rssiColor: function(rssi) {

    var color = "color: #"
    if ( rssi >= -50 ) {

      color += "00ff00"
    } else if ( rssi >= -100 && rssi < -50 ) {

      color += "ffa500"
    } else {

      color += "d81e06"
    }
    return color
  }
}

module.exports = {

  rssiColor: getColor.rssiColor
}